ARK_API_KEY=your_ark_api_key
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3

MATERIAL_PACK_TOS_ENABLED=true
TOS_ACCESS_KEY=your_tos_access_key
TOS_SECRET_KEY=your_tos_secret_key
TOS_ENDPOINT=tos-cn-beijing.volces.com
TOS_REGION=cn-beijing
TOS_BUCKET=your_bucket
TOS_PREFIX=material-packages-dev
TOS_PRESIGN_EXPIRES_SECONDS=3600
